
.container {
    margin-top: 3em;
}
.muted {
    color: #555;
}
button {
    cursor: pointer;
}
#first-steamworks {
    text-align: center;
    margin-top: 4em;
}
.content {
    margin: 1em;
    margin-top: 3.8em;
}
#score {
    font-size: 35px !important;
    font-weight: 100;
    color: white;
    z-index: 9001;
}
.form-inline {
    margin-top: .25em;
}
.form-control {
    width: 70px !important;
    text-align: center;
}
.input-group-addon {
    min-width: 155px;
    text-align: left;
    font-weight: 100;
}
.input-group {
    margin-bottom: 2px !important;
}
.hidden {
    display: none;
}
#bonus-pts, #bonus-rp {
    font-weight: 400 !important;
    color: #5cb85c;
}
h5 {
    font-weight: 300;
    margin-top: .7em;
}
input[type="text"]:disabled{
    background-color:white;
}
.multiplier {
    width: 42px;
}
.up-temp {
    color: #5cb85c !important;
    background-color: transparent !important;
}
.down-temp {
    color: #d9534f !important;
    background-color: transparent !important;
}
.counters {
    width: 54px !important;
}
.overlimit {
    color: red;
}
#footer {
    width: 100%;
    margin-top: 3px;
    color: #CCCCCC;
    font-weight: 200;
}
.navbar {
    text-align: center;
    padding: 0px;
}
.up, .down {
    padding: 9px 16px;
}
.up.fives {
    padding: 9px 17px;
}
.down.fives {
    padding: 9px 15px;
}
.up.tens {
    padding: 9px 13.5px;
}
.down.tens {
    padding: 9px 11.5px;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
@media (max-width: 321px) {
    #qualifications, #eliminations, #reset {
        padding: 0px !important;
    }
}
@media (min-width: 576px) {
    .content {
        margin-top: 4.5em;
    }
    #footer {
        width: 338px;
    }
    #score {
        margin-top: -25px;
    }
    .navbar {
        padding: 30px;
    }
    .input-group-addon {
        min-width: 175px !important;
    }
    .counters {
        width: 68px !important;
    }
    #score {
        position: absolute !important;
        left: 60px;
    }
    #multipliers {
        float: none;
        position: absolute;
        left: 216px;
        top: 110px;
    }
    #win, #tie, #loss, #foul, #tech {
        width: 64px !important;
    }
}
@media (min-width: 992px) {
    #score {
        margin-top: 1px;
    }
}
