
.container {
    margin-top: 3em;
}
.muted {
    color: #555;
}
button {
    cursor: pointer;
}
#first-steamworks {
    text-align: center;
    margin-top: 4em;
}
.content {
    margin: 1em;
    margin-top: 4.5em;
}
#score {
    color: white;
    position:fixed;
    top:1em;
    right:1.1em;
    z-index: 9001;
}
.form-inline {
    margin-top: .25em;
}
.form-control {
    width: 70px !important;
    text-align: center;
}
.input-group-addon {
    min-width: 155px;
    text-align: left;
    font-weight: 100;
}
.hidden {
    display: none;
}
#bonus-pts, #bonus-rp {
    font-weight: 400 !important;
    color: #5cb85c;
}
h5 {
    font-weight: 300;
    margin-top: .7em;
}
input[type="text"]:disabled{
    background-color:white;
}
.multiplier {
    width: 42px;
}
.up-temp {
    color: #5cb85c !important;
    background-color: transparent !important;
}
.down-temp {
    color: #d9534f !important;
    background-color: transparent !important;
}
.counters {
    width: 54px !important;
}
.overlimit {
    color: red;
}
@media (max-width: 321px) {
    #qualifications, #eliminations, #reset {
        padding: 0px !important;
    }
}
@media (min-width: 576px) {
    .input-group-addon {
        min-width: 175px !important;
    }
    .counters {
        width: 68px !important;
    }
    #score {
        position: absolute !important;
        left: 205px;
    }
    #multipliers {
        float: none;
        position: absolute;
        left: 216px;
        top: 110px;
    }
    #win, #tie, #loss {
        width: 108px !important;
    }
}
